<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>結果頁面</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #16151d; /* 暗色背景 */
            color: #ffffff; /* 白色文字 */
        }
    </style>
</head>
<body class="flex items-center justify-center min-h-screen">
    <img src="https://memeprod.ap-south-1.linodeobjects.com/user-template/366162f3e4f40302a9a779f10a975f4a.png" alt="描述性文字" class="max-w-full h-auto">
</body>
</html>
